@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit";
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 1000px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 310px;
  height: 310px;
  display: block;
  border-radius: 15px;
  margin: 0 auto;
  
}

h1 {
  font-size: 25px;
  text-align: center;
  margin: 30px 30px 20px 30px;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  text-align: center;
  margin: 0 50px 0 50px;
  color: hsl(220, 15%, 55%);
}

.card {
  width: 350px;
  height: 575px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
